{% extends 'pages/base/base.html' %}
{% load static %}

{% block cssblock %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/room-part.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search-rooms.css' %}" />
    <link rel="stylesheet" href="{% static 'css/booking-confirm.css' %}" />

{% endblock %}

{% block content %}

    <div id="content-container">
        <div class="container">
            <div class="title-booking-confirm">
                <h3 class="font-Megante text-center">Booking Confirmation</h3>
            </div>
            <div class="row content-wrap">
                <div class="col-lg-8 infor-rooms-search">
                    <div class="number-rooms-found">
                        <p class="font-Megante title">
                            Booking Details
                        </p>
                        <p>Check-in: 03/06/2021 <span class="font-Montserrat-B"></span>, from 11:00 am</p>
                        <p>Check-out: 07/06/2021 <span class="font-Montserrat-B"></span>, until 11:00 am</p>
                    </div>
                    <div class="number-people">
                        <p class="index-accommnodation font-Megante">Accommodation #1</p>
                        <p>Accommodation Type: Signature Room</p>
                        <p class="form-group input-number">
                            <label for="select-adults">Adults</label>
                            <br />
                            <select
                                name="select-adults"
                                id="select-adults"
                                class="select-number"
                            >
                                <option
                                    value="1"
                                    selected="selected"
                                >
                                    1
                                </option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </p>
                        <p class="form-group input-number">
                            <label for="select-adults">Childrens</label>
                            <br />
                            <select
                                name="select-adults"
                                id="select-childrens"
                                class="select-number"
                            >
                                <option
                                    value="0"
                                    selected="selected">
                                    0
                                </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </p>
                        <p class="guest-name">
                            <label for="">Full Guest Name</label>
                            <input class="guest-name-input" type="text">
                        </p>
                    </div>
                    <div class="coupon-code">
                        <label for="">Coupon Code:</label>
                        <input class="coupon-input" type="text" required>
                        <br>
                        <input class="coupon-check" type="button" value="Apply">
                    </div>
                    <div class="price-breakdown">
                        <p class="font-Megante title">
                            Price Breakdown
                        </p>
                        <div class="price-detail-wrap">
                            <div class="price-detail-container">
                                <div class="price-detail row">
                                    <div class="col-lg-9">
                                        <p>#1 Signature Room</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p>$399</p>
                                    </div>
                                </div>
                            </div>
                            <div class="price-total row">
                                <div class="col-lg-9">
                                    <p>Total</p>
                                </div>
                                <div class="col-lg-3">
                                    <p>$399</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guest-infor">
                        <p class="font-Megante title">
                            Your Information
                        </p>
                        <p class="required-text">Required fields are followed by *</p>
                        <div class="input-infor-guest">
                            <form action="">
                                <p class="input-guest-infor">
                                    <label for="">First Name</label>
                                    <input type="text">
                                </p>
                                <p class="input-guest-infor">
                                    <label for="">Last Name</label>
                                    <input type="text">
                                </p>
                                <p class="input-guest-infor">
                                    <label for="">Phone</label>
                                    <input type="text">
                                </p>
                                <p class="input-guest-infor">
                                    <label for="">Note</label>
                                    <input type="text">
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="payment-method">
                        <p class="font-Megante title">
                            Payment Method
                        </p>
                        <div class="select-method">
                            <input type="radio" id="visa"> <label class="font-Montserrat-B" for="visa">Visa / Debit / Mastercard</label> <br>
                            <input type="radio" id="visa1"> <label class="font-Montserrat-B" for="visa1">Momo</label> <br>
                            <input type="radio" id="visa2"> <label class="font-Montserrat-B" for="visa2">Thẻ tín dụng</label> <br>
                        </div>
                    </div>
                    <div class="send-button-wrap row">
                        <div class="price-total col-lg-10">
                            <p class="font-Montserrat-L total-wrap">Total Price: <span class="font-Montserrat-B">$399</span></p>
                        </div>
                        <div class="col-lg-2 send-button">
                            <input type="button" value="Send">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 book-now-ready-to-book-wrap">
                    <div class="slidebar-wrap">
                        <div class="book-now-ready-to-book-container">
                            <div class="title-book-now font-Megante">
                                <p>Book Your Stay</p>
                            </div>
                            <p class="text-required">Required fields are followed by *</p>
                            <div class="form-check-wrap">
                                <form class="form-check font-Montserrat-L" action="search-availability">
                                    <p class="form-group">
                                        <label for="input_from">Check-in *</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="input_from"
                                            placeholder="Check-in Date"
                                        />
                                    </p>
                                    <p class="form-group">
                                        <label for="input_to">Check-out *</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="input_to"
                                            placeholder="Check-out Date"
                                        />
                                    </p>
                                    <p class="form-group input-number">
                                        <label for="select-adults"
                                            >Adults</label
                                        >
                                        <br />
                                        <select
                                            name="select-adults"
                                            id="select-adults"
                                            class="select-number"
                                        >
                                            <option
                                                value="1"
                                                selected="selected"
                                            >
                                                1
                                            </option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                        </select>
                                    </p>
                                    <p class="form-group input-number">
                                        <label for="select-adults"
                                            >Childrens</label
                                        >
                                        <br />
                                        <select
                                            name="select-adults"
                                            id="select-childrens"
                                            class="select-number"
                                        >
                                            <option
                                                value="0"
                                                selected="selected"
                                            >
                                                0
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </p>
                                    <p class="form-group">
                                        <input
                                            type="submit"
                                            class="button"
                                            value="Check Avaiability"
                                        />
                                    </p>
                                </form>
                            </div>
                        </div>
                        <div class="infor-hotel">
                            <p class="hotel-name font-Megante">An Khang Hotel</p>
                            <p class="hotel-address">04 Hoang Van Thu, Sa Pa, Lao Cai</p>
                            <p class="hotel-tel">Tel: +(84) 85 266 2000</p>
                            <p class="hotel-mail">Mail: ankhanghotel@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsblock %}

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/StickyKit/jquery.sticky-kit.js' %}"></script>
    <script src="{% static 'js/search-rooms.js' %}"></script>
    <script src="{% static 'js/booking-confirm.js' %}"></script>

{% endblock %}
