{% extends 'pages/base/base.html' %}
{% load static %}
{% load mathfilters %}
{% load my_filters %}

{% block cssblock %}

    <link rel="stylesheet" href="{% static 'css/Rome/rome.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/room-part.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search-rooms.css' %}" />

{% endblock %}

{% block content %}

        <div id="content-container">
            <div class="container">
                <div class="row content-wrap">
                    <div class="col-lg-8 infor-rooms-search">
                        <div class="number-rooms-found">
                            <p>
                                {{ rooms_amount }} accommodations found to suit your needs from {{ check_in_date }} to {{ check_out_date }}
                            </p>
                        </div>
                        <div class="room-recommend-wrap">
                            <form action="{% url 'booking-confirm' %}" method="POST" class="form-recommend">
                                {% csrf_token %}
                                {% for item in recommend_room %}
                                    <div class="room-recommend-item row">
                                        <div class="col-lg-10 name-recommend-item">
                                            <p>{{ item.0 }} x {{ item.1.room_type }}</p>
                                            <p>Max occupancy: {{ item.1.capacity_adults }} adults, {{ item.1.capacity_children }} children</p>
                                        </div>
                                        <div class="col-lg-2 price-recommend-item">
                                            <p>${{ item.0|mul:item.1.price|mul:night_amount }}</p>
                                        </div>
                                    </div>
                                    <input type="hidden" value="{{ item.0 }}" name="{{ item.1.room_type }}" class="amount_{{ item.1.room_type }}">
                                {% endfor %}
                                <div class="total-recommend">
                                    <p>Total: ${{ total|mul:night_amount }}</p>
                                </div>
                                <input type="hidden" value="{{ check_in_date|date:'d-m-Y' }}" name="check_in_date">
                                <input type="hidden" value="{{ check_out_date|date:'d-m-Y' }}" name="check_out_date">
                                <div class="button-recommend">
                                    <input class="button confirm-button" type="submit" value="Confirm Reservation">
                                </div>
                                <div class="clear"></div>
                            </form>
                        </div>
                        <div class="room-list-wrap">
                            <h3 class="font-Megante other-choice">Do you want the other choice?</h3>
                            {% for room_type_items in room_type_amount %}
                                <div class="rooms-detail-fit">
                                    <a href="{% url 'rooms-detail' room_type_items.1.pk %}">
                                        <div class="img-rooms-detail" style="background-image: url('{{ room_type_items.1.img_horizontal.url }}')"></div>
                                    </a>
                                    <a href="">
                                        <h3 class="name-rooms">{{ room_type_items.1.room_type }}</h3>
                                    </a>
                                    <p class="description-rooms">{{ room_type_items.1.description }}</p>
                                    <p><i class="fas fa-chevron-right arrow"></i> Adutlts: {{ room_type_items.1.capacity_adults }}</p>
                                    <p><i class="fas fa-chevron-right arrow"></i> Children: {{ room_type_items.1.capacity_children }}</p>
                                    <p><i class="fas fa-chevron-right arrow"></i> View: {{ room_type_items.1.view }}</p>
                                    <p><i class="fas fa-chevron-right arrow"></i> Size: {{ room_type_items.1.area }}</p>
                                    <p><i class="fas fa-chevron-right arrow"></i> Bed Type: {{ room_type_items.1.bed }}</p>
                                    <p class="price-rooms"><span>Prices start at:</span> ${{ room_type_items.1.price }} per night</p>
                                    <hr>
                                    <div class="rooms-amount row">
                                        <div class="col-lg-6 input-wrap">
                                            <p><select name="room-number" class="select-room-add">
                                                {% for i in room_type_items.0|times %}
                                                    <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                                {% endfor %}
                                            </select> of {{ room_type_items.0 }} accommodations available</p>
                                        </div>
                                        <div class="col-lg-6 remove-wrap">
                                            <p><span class="add-number"></span> x "{{ room_type_items.1.room_type }} Room" has been added to your reservation</p>
                                            <input class="remove-button" type="button" value="Remove">
                                        </div>
                                    </div>
                                    <input class="button button-add" type="button" value="Add to reservation">
                                </div>
                            {% endfor %}
                        </div>
                        <form action="{% url 'booking-confirm' %}" method="POST" class="other-book">
                            {% csrf_token %}
                            <input type="hidden" value="{{ check_in_date|date:'d-m-Y' }}" name="check_in_date">
                            <input type="hidden" value="{{ check_out_date|date:'d-m-Y' }}" name="check_out_date">
                            {% for i in room_type_amount %}
                                <input type="hidden" value="0" name="{{ i.1.room_type }}" class="amount_{{ i.1.room_type }}">
                            {% endfor %}
                            <input class="button button-reservation confirm-button" type="submit" value="Confirm Reservation">
                        </form>
                    </div>
                    <div class="col-lg-4 book-now-ready-to-book-wrap">
                        <div class="slidebar-wrap">
                            <div class="book-now-ready-to-book-container">
                                <div class="title-book-now font-Megante">
                                    <p>Book Your Stay</p>
                                </div>
                                <p class="text-required">Required fields are followed by *</p>
                                <div class="form-check-wrap">
                                    <form method="POST" action="{% url 'search-result' %}" class="form-check font-Montserrat-L">
                                        {% csrf_token %}
                                        <p class="form-group">
                                            <label for="input_from">Check-in *</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="input_from"
                                                placeholder="Check-in Date"
                                                name="check_in_date"
                                                value="{{ check_in_date|date:'d-m-Y' }}"
                                                required
                                            />
                                        </p>
                                        <p class="form-group">
                                            <label for="input_to">Check-out *</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="input_to"
                                                placeholder="Check-out Date"
                                                name="check_out_date"
                                                value="{{ check_out_date|date:'d-m-Y' }}"
                                                required
                                            />
                                        </p>
                                        <p class="form-group input-number">
                                            <label for="select-adults"
                                                >Adults</label
                                            >
                                            <br />
                                            <select
                                                name="adults_amount"
                                                id="select-adults"
                                                class="select-number"
                                            >
                                                {% for i in 20|times %}
                                                    <option value="{{ i|add:1 }}" {% if i|add:1 == adults_amount %}selected="selected"{% endif %}>{{ i|add:1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <p class="form-group input-number">
                                            <label for="select-children"
                                                >Childrens</label
                                            >
                                            <br />
                                            <select
                                                name="children_amount"
                                                id="select-children"
                                                class="select-number"
                                            >
                                                {% for i in 10|times %}
                                                    <option value="{{ i }}" {% if i == children_amount %}selected="selected"{% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <p class="form-group">
                                            <label for="select_rooms"
                                                >Room</label
                                            >
                                            <br />
                                            <select
                                                name="rooms_amount"
                                                id="select_rooms"
                                                class="select-number"
                                            >
                                                {% for i in total_room|length|times %}
                                                    <option value="{{ i|add:1 }}" {% if i|add:1 == rooms_amount %}selected="selected"{% endif %}>{{ i|add:1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <p class="form-group">
                                            <input
                                                type="submit"
                                                class="button"
                                                value="Check Avaiability"
                                            />
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="infor-hotel">
                                <p class="hotel-name font-Megante">An Khang Hotel</p>
                                <p class="hotel-address">04 Hoang Van Thu, Sa Pa, Lao Cai</p>
                                <p class="hotel-tel">Tel: </p>
                                <p class="hotel-mail">Mail: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block jsblock %}


    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/StickyKit/jquery.sticky-kit.js' %}"></script>
    <script src="{% static 'js/search-rooms.js' %}"></script>

{% endblock %}
