<!-- EMAIL -->

<div class="container-email">
<div class="container">
    <div class="overlay-background"></div>
    <div class="row content-email">
        <div class="title-email col-lg-6 font-Megante">
            <h2>
                Get the latest offers
                <br/>
                Sign up for our newsletter
            </h2>
        </div>
        <div class="col-lg-6">
            <div class="label-email font-Montserrat-L">
                Hear about our latest offers by signing up to
                our mailing list.
            </div>
            <div>
                <form action="">
                    <input
                            class="input-email"
                            type="text"
                            placeholder="Your email adress"
                    />
                    <input
                            class="button-email"
                            type="submit"
                            value="Sign up"
                    />
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- FOƠTER -->

<div class="container-footer">
<div class="footer-top">
    <div class="container footer-wrap">
        <div class="row content-footer">
            <div class="col-lg-3">
                <div class="title-footer font-Megante">
                    <p>Explore</p>
                </div>
                <div class="footer-items">
                    <div><a href="{% url 'home-page' %}">Home</a></div>
                    <div><a href="{% url 'romes-page' %}">Rooms</a></div>
                    <div><a href="{% url 'dining-page' %}">Dining</a></div>
                    <div><a href="{% url 'aboutUs-page' %}">About</a></div>
                    <div><a href="{% url 'contact-page' %}">Contact</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="title-footer font-Megante">
                    <p>Social Media</p>
                </div>
                <div class="footer-items">
                    <div><a href="{{ footer_data.Facebook }}">Facebook</a></div>
                    <div><a href="{{ footer_data.Twitter }}">Twitter</a></div>
                    <div><a href="{{ footer_data.Zalo }}">Zalo</a></div>
                    <div><a href="{{ footer_data.Instagram }}">Instagram</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="title-footer font-Megante">
                    <p>Our Address</p>
                </div>
                <div class="footer-items">
                    <p>
                        {{ footer_data.address }}
                    </p>
                </div>
                <div class="title-footer font-Megante">
                    <p>Contact Us</p>
                </div>
                <div class="footer-items">
                    <p>{{ footer_data.phone }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container footer-bottom-content">
        <a href="{% url 'index-page' %}">
            <img width="140px" src="{{ common_data.logo_navbar.url }}" alt="">
        </a>
        <p class="copyright">Copyright 2021 - Design by Sang Kaito</p>
    </div>
</div>
</div>